body {
    padding-top: 80px;
    padding-bottom: 50px;
    position: relative;
}

.navbar {
    margin-bottom: 50px;
}

.navbar-custom {
    height: 5em;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index:0;
}

.contrib-logo {
    margin-top: 2em;
    margin-botton: 1em;
}

.widget-openhub {
    height: 250px;
    width: 370px;
    border: none;
}

.fixed-nav {
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

.docs-container {
    position: relative;
}