body {
    padding-top: 80px;
    padding-bottom: 50px;
}

.navbar {
    margin-bottom: 50px;
}

.navbar-custom {
    height: 10em;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index:0;
}

.contrib-logo {
    margin-top: 2em;
    margin-botton: 1em;
}