<h1>Community</h1>

<div class="row" >
  <div class="col-xs-12 col-md-6">
    <a name="code" />
    <div data-theme="default" data-height="150" data-width="400" data-github="erocci/erocci" class="github-card"></div>
    <script src="http://lab.lepture.com/github-cards/widget.js"></script>
  </div>

  <div class="col-xs-12 col-md-6">
    <a name="social" />
    <iframe ng-src="https://www.openhub.net/p/709182/widgets/project_factoids_stats.html" class="widget-openhub"
	    scrolling="no"
	    marginheight="0"
	    marginwidth="0" >
    </iframe>
  </div>

  <div class="col-xs-12 col-md-6">
    <a name="ml" />
    <h3>Mailing lists</h3>

    <ul>
      <li>
	<a href="mailto:erocci-info-subscribe@ow2.org">erocci-info</a>
	: announces, news, etc (<a href="http://mail-archive.ow2.org/erocci-info/index.html" >archives</a>)
      </li>
      <li>
	<a href="mailto:erocci-dev-subscribe@ow2.org">erocci-dev</a>
	: commits, technical discussions, etc (<a href="http://mail-archive.ow2.org/erocci-dev/index.html" >archives</a>)
      </li>
  </div>

  <div class="col-xs-12 col-md-6">
    <a name="related" />
    <h3>Related</h3>

    <ul>
      <li><a href="http://occi-wg.org" >OCCI-wg website</a></li>
      <li>Another OCCI implementation in Ruby: <a href="https://github.com/gwdg/rOCCI">rOCCI</a></li>
      <li>A cloud broker using extensively OCCI: <a href="http://compatibleone.org/" >CompatibleOne</a></li>
    </ul>
  </div>

</div>
