<h1>Credits</h1>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h2>Individuals</h2>

    <dl>
      <dt>Main architect</dt>
      <dd>Jean Parpaillon &lt;jean (dot) parpaillon (at) free (dot) fr&gt;</dd>

      <dt>Contributors</dt>
      <dd>
	<ul class="list-unstyled">
	  <li>Jean Hany &lt;jean_hany (at) hotmail (dot) com&gt;</li>
	  <li>Lei Zhao &lt;leizhao0515 (at) gmail (dot) com&gt;</li>
	</ul>
      </dd>
    </dl>
  </div>

  <div class="col-xs-12 col-md-6">
    <h2>Organizations</h2>

    <ul class="list-unstyled">
      <li class="contrib-logo" >
	<a href="http://ow2.org" ><img src="img/ow2.png" alt="OW2 Logo"></a>
      </li>
      <li class="contrib-logo" >
	<a href="https://itea3.org/project/icare.html" ><img src="img/itea2.png" alt="ITEA2 Logo"></a>
      </li>
      <li class="contrib-logo" >
	<a href="http://inria.fr" ><img src="img/inria.png" alt="INRIA Logo"></a>
      </li>
    </ul>
  </div>
</div>
