<h1>Developer Reference</h1>

<div class="container bs-docs-container docs-container" du-scroll-container>
  <div class="row">
    <div class="col-md-3">
      <div class="bs-sidebar hidden-print" role="complementary">
	<ul class="nav bs-sidebar fixed-nav">
	  <li><a href="#/getstarted#intro" du-scrollspy>Introduction</a></li>
	</ul>
      </div>
    </div>
    
    <div class="col-md-9">
      <section>
	<h4 id="intro">Introduction</h4>

	<p>
	  Advanced documentation to come...
	</p>
	<h4>Troubleshooting</h4>
	<p>If the server always display a 500 error, check you version of erlang (>18). Then, you need to clean the deps/ folder with :</p>
	<p><pre>
		$ rm -rf /deps
	</pre></p>
	<p>Then you can recompile :</p>
	<p><pre>$ make</pre></p>
      </section>
    </div>
  </div>
</div>
