<div class="row" >
  <div class="col-md-9" >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Duis luctus suscipit urna, id commodo enim viverra
      vel. Proin feugiat tempus accumsan. Donec ultricies elit sit
      amet nibh faucibus semper. In quis mattis nunc. Mauris nisi
      augue, elementum non ligula at, ornare placerat mi. Etiam
      urna ipsum, accumsan id neque ac, imperdiet convallis
      turpis. Vivamus vestibulum tempor risus nec
      pellentesque. Vestibulum elementum velit augue, dictum
      ullamcorper sem rutrum et. Mauris a velit porttitor,
      ultricies nulla et, lobortis nisl. Fusce sit amet bibendum
      risus.
    </p>

    <p>
      Sed aliquam rhoncus ante non pretium. Cras vel euismod lacus. Nam
      commodo vestibulum consectetur. Quisque rhoncus lorem arcu, et
      lobortis nisl luctus aliquet. Sed enim velit, tempus in imperdiet
      quis, semper vel nisi. Vivamus id facilisis orci, id facilisis
      libero. Etiam eu dui eget velit suscipit venenatis sed in
      turpis. Pellentesque consectetur sapien mollis mi aliquet
      laoreet. Aenean ullamcorper efficitur tortor eu aliquet. Duis ut
      feugiat tellus. In porta mi quis sem interdum, in pharetra mauris
      commodo.
    </p>

    <p>
      Curabitur erat ante, finibus vitae maximus non, rhoncus ut
      turpis. In nunc odio, venenatis non ante faucibus, porttitor
      tristique quam. Vestibulum facilisis dignissim
      lobortis. Nunc eu luctus lacus. In congue pulvinar
      consequat. Curabitur elit metus, venenatis id fermentum a,
      porta consectetur nisl. Morbi facilisis risus ac elementum
      viverra. Maecenas dictum ut turpis sit amet
      mollis. Vestibulum pretium sit amet dui vel blandit.
    </p>

    <p>
      Ut nunc urna, consectetur ut mauris egestas, vulputate
      convallis est. Curabitur lobortis diam eget velit semper
      elementum. Vivamus mattis sodales rhoncus. Nullam ante
      massa, eleifend in eros ut, laoreet fermentum
      tellus. Vestibulum sed nisl eget dui volutpat laoreet nec
      vitae arcu. Ut sodales dui dui, sed facilisis odio lobortis
      sed. Mauris et magna quam. Suspendisse ornare, massa vel
      lobortis vulputate, magna lectus sollicitudin tellus, eget
      ullamcorper augue felis et nisi. Cras ut finibus enim. Fusce
      vel massa et sem hendrerit mollis. Etiam tortor lectus,
      elementum quis odio ut, venenatis accumsan tortor. Nulla ac
      odio vel odio lacinia eleifend sit amet fringilla orci.
    </p>

    <p>
      Phasellus tortor purus, laoreet quis quam at, vehicula
      mattis nisl. Nam lacinia, tortor ac dapibus consequat, metus
      dolor maximus orci, et finibus sapien enim et sem. Aliquam
      et lacus id ipsum imperdiet ultrices at fringilla metus. In
      turpis massa, viverra eu justo nec, pulvinar vestibulum
      nibh. Proin aliquam aliquet nibh, eu mattis eros porttitor
      at. Sed ligula augue, ultricies id est eu, blandit congue
      nibh. Praesent sollicitudin, purus a porttitor elementum,
      sem ipsum mattis neque, in eleifend mauris dolor ac
      nisl. Curabitur porttitor non mi a dapibus.
    </p>
  </div>

  <div class="col-md-3" >
    <div class="sidebar-module" >
      <h4>News</h4>
      <ol class="list-unstyled">
	<li>Twitter</li>
	<li>Github</li>
	<li>OW2</li>
	<li>OCCI-WG</li>
      </ol>
    </div>
  </div>
</div>
