<div class="row row-offcanvas row-offcanvas-right" >
  <div class="col-md-9">

    <div class="row">
      <div class="col-xs-12 col-md-4" >
	<h4>Feature 1</h4>
	<p>
	  Bla bla bla
	</p>
      </div>

      <div class="col-xs-12 col-md-4" >
	<h4>Feature 2</h4>
	<p>
	  Bla bla bla
	</p>
      </div>

      <div class="col-xs-12 col-md-4" >
	<h4>Feature 3</h4>
	<p>
	  Bla bla bla
	</p>
      </div>

      <div class="col-xs-12 col-md-4" >
	<h4>Feature 4</h4>
	<p>
	  Bla bla bla
	</p>
      </div>

      <div class="col-xs-12 col-md-4" >
	<h4>Feature 5</h4>
	<p>
	  Bla bla bla
	</p>
      </div>

      <div class="col-xs-12 col-md-4" >
	<h4>Feature 6</h4>
	<p>
	  Bla bla bla
	</p>
      </div>

    </div>

  </div>
      
  <div class="col-xs-6 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="sidebar-module" >
      <h4>News</h4>
      <ol class="list-unstyled">
	<li>Twitter</li>
	<li>Github</li>
	<li>OW2</li>
	<li>OCCI-WG</li>
      </ol>
    </div>
  </div>
</div>
