<div class="row row-offcanvas row-offcanvas-right" >
  <div class="col-md-9">

    <div class="row">
      <div class="col-xs-12 col-md-4" >
	<img class="img-responsive img-feat-custom center-block"
	     src="img/feat_model_driven.svg" alt="Model Driven">
	<h4 class="text-center">
	  <span class="text-uppercase">Model Driven</span>: Less Code, More Features
	</h4>
	<p>
	  Focus on your <a ui-sref="reference#model">application design</a>, and let
	  erocci deals with the runtime. In most of cases, you don't
	  need to code at all.
	</p>
      </div>

      <div class="col-xs-12 col-md-4" >
	<img class="img-responsive img-feat-custom center-block"
	     src="img/feat_self_described.svg" alt="Self Described">
	<h4 class="text-center">
	  <span class="text-uppercase">Self-Described</span>
	</h4>
	<p>
	  REST API designed with erocci
	  are <a ui-sref="reference#capabilities">self-described</a>:
	  writing clients for your application has never been so easy.
	</p>
      </div>

      <div class="col-xs-12 col-md-4" >
	<img class="img-responsive img-feat-custom center-block"
	     src="img/feat_protocol.svg" alt="Multi Protocol">
	<h4 class="text-center">
	  <span class="text-uppercase">Multi Protocol</span>
	</h4>
	<p>
	  In addition to <a ui-sref="reference#http">HTTP protocol</a>
	  family, erocci can expose your API
	  on <a ui-sref="reference#xmpp">XMPP</a>
	  or <a ui-sref="reference#dbus">D-Bus</a>. You can also
	  extend to your own protocol through
	  a <a ui-sref="reference#listener">simple API</a>.
	</p>
      </div>

      <div class="col-xs-12 col-md-4" >
	<img class="img-responsive img-feat-custom center-block"
	     src="img/feat_scalable.svg" alt="Scalable">
	<h4 class="text-center">
	  <span class="text-uppercase">Scalable</span>
	</h4>
	<p>
	  Thanks to <a href="http://erlang.org">erlang/OTP
	  platform</a>, erocci can scale from embedded devices to a
	  full distributed cluster.
	</p>
      </div>

      <div class="col-xs-12 col-md-4" >
	<img class="img-responsive img-feat-custom center-block"
	     src="img/occi_smalltrans.png" alt="Standard">
	<h4 class="text-center">
	  <span class="text-uppercase">Standard</span>
	</h4>
	<p>
	  erocci is fully compliant with
	  the <a href="http://occi-wg.org">OCCI standard</a>, which
	  means you don't have to care with implementation details,
	  but just on your application.
	</p>
      </div>

      <div class="col-xs-12 col-md-4" >
	<img class="img-responsive img-feat-custom center-block"
	     src="img/feat_open_source.svg" alt="Open Source">
	<h4 class="text-center">
	  <span class="text-uppercase">Open Source</span>
	</h4>
	<p>
	  erocci is released under Apache Software License, version
	  2.0.
	</p>
      </div>

    </div>

  </div>
      
  <div class="col-xs-6 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="sidebar-module" >
      <a class="twitter-timeline"
	 href="https://twitter.com/hashtag/erocci"
	 data-widget-id="540900481837830144">Tweets sur #erocci</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <div class="sidebar-module">
      <a href="http://travis-ci.org/jeanparpaillon/erocci" >
	<img src="https://secure.travis-ci.org/jeanparpaillon/erocci.png" alt="Continuous Integration status" />
      </a>
    </div>
    
    <div class="sidebar-module" >
      <iframe ng-src="https://www.openhub.net/p/709182/widgets/project_factoids.html"
	      scrolling="no"
	      marginheight="0"
	      marginwidth="0"
	      style="height: 175px; width: 350px; border: none" >
      </iframe>
    </div>
    
  </div>
</div>
